* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: hsl(240, 74%, 7%);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    text-align: center;
    margin: 20px 0;
}
.tag-list {
    padding-inline: 0;
    list-style: none;
}
.tag-list li {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background-color: hsl(206, 21%, 44%);
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 10px;
}
.scroller {
    max-width: 600px;
}
.scroller-inner {
    display: flex;
    gap: .5rem;
    padding-block: 2rem;
    flex-wrap: wrap;

}
.scroller[data-animated="true"] {
    overflow: hidden;
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    --webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.scroller[data-animated="true"] .scroller-inner {
    flex-wrap: nowrap;
    width: max-content;
    animation: scroll 20s linear infinite forwards;
    animation-play-state: running;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-50% - 0.25rem));
    }
}